* {

    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial;
}

body {

    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {

    background-color: honeydew;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    min-height: 250px;
    display: flex;
    flex-direction: column;

    &::after {

        content: '';
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__main-title {

        font-size: 45px;
        margin-bottom: 30px;
        text-align: center;
    }

    &__input-container {

        display: grid;
        grid-template-columns: 1fr auto;
        background-color: white;
        border: 2px solid beige;
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
    }

    &__input {

        border: none;
        padding: 5px;
        outline: none;
    }

    &__button {

        border: 0;
        padding-inline: 10px;
        font-size: 15px;
        background-color: palegreen;
    }

    &__list {

        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 7px;
    }

    &__list-item {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-column {

        position: relative;
        left: -18px;
        display: flex;
        gap: 9px;
    }

    &__item-mark {

        position: relative;
        top: 3px;
        border-radius: 50%;
        background-color: honeydew;
        border: 1px solid gray;
        cursor: pointer;
        width: 20px;
        height: 20px;
        overflow: hidden;
        transition: all ease-in-out 0.3s;

        &::after {

            content: '';
            position: absolute;
            transform: translate(-50%, -50%) translateY(-15px);
            top: 50%;
            left: 50%;
            background-image: url(./img/completed.svg);
            background-size: cover;
            width: 80%;
            height: 80%;
            transition: all ease-in-out 0.3s;
            opacity: 0;
        }

        &._completed {

            background-color: greenyellow;

            &::after {

                transform: translate(-50%, -50%);
                opacity: 1;
            }
        } 

        &._anim {

            &::after {

                transform: translate(-50%, -50%) translateY(15px);
                opacity: 0;
            }
        }
    }

    
    &__item-text {

        font-size: 23px;
        margin: 0;
        max-width: 420px;
        position: relative;

        // &::after {

        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: 0;
        //     transform: translateY(-50%) scaleX(0);
        //     width: 100%;
        //     height: 2px;
        //     background-color: black;
        //     transition: all linear 0.3s;
        //     transform-origin: left;
        // }

        &._completed {

        //     &::after {

        //         transform: translateY(-50%) scaleX(1);
        //     }

            text-decoration: line-through;
        }

        // &._anim {

        //     &::after {

        //         transform-origin: right;
        //         transform: translateY(-50%) scaleX(0);
        //     }
        // }
    }

    &__item-button {

        position: relative;
        top: 4px;
        cursor: pointer;
        width: 19px;
        height: 19px;
        background-color: transparent;
        border: none;
        border-radius: 50%;

        &::before, &::after {

            content: '';
            width: 1px;
            height: 15px;
            background-color: red;

            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }

        &::after {

            transform: translateY(-50%) rotate(-45deg);
        }
    }

}